body {
    font-family: 'PT Serif';
    background: cornflowerblue;
    overflow: hidden;
}

.index {
    width: 100vw;
    height: 100vh;
}

.masthead {
    color: white;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    background: url('');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

@media (min-width:992px) {
    .mashead h1 {
        font-size: 5.5rem;
    }
}