<div class="container p-4">

    <div class="row">

        {{#each links}}

        <div class="col-md-3 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <a href="{{url}}" target="_blank">
                        <h3 class="card-title text-uppercase">
                            {{title}}
                        </h3>
                    </a>
                    <p class="m-2">
                        {{description}}
                    </p>

                    <p>{{timeago created_at}}</p>
                    <a href="/links/delete/{{id}}" class="btn btn-danger">Delete</a>
                    <a href="/links/edit/{{id}}" class="btn btn-secondary">Edit</a>
                </div>
            </div>
        </div>

        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not links saved yed</p>
                <a href="/links/add">Create One!</a>
            </div>
        </div>

        {{/each}}

    </div>

</div>